*
{
    box-sizing: border-box;
}
body
{
    margin: 0;
}
.fa-brands,.fa-solid,.fa-regular
{
    color: black;
    font-size: larger;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li
{
    display: inline-block;
}
a
{
    text-decoration: none;
}