/* Header and Elements */
header
{
    width: 100%;
}
/* container-head and elements */
.container-head
{
    padding: 1.5rem 0;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.social-media
{
    width: 10%;
}
.brand img
{
    width: 200px;
}
.sbar
{
    width: 10%;
}
nav
{
    width: 60%;
    padding: 1rem 0;
}
.navbar-nav>li>a
{
    font-family: Jost;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.75rem 0.875rem;
    color: black;
}
/* Articles and elements */
.articles
{
    padding: 0;
}
.articles>h4
{
    text-align: start;
    margin: 0 0 32px;
}
.cards
{
    margin: 8px 0;
}
.card
{
    background-position: 50% 50%;
    background-size: cover;
    opacity: 0.95;
    background-repeat: no-repeat;
    min-height: 20rem;
}
.card-bg
{
    background: rgba(0,0,0,0.5);
}
.card-bg:hover
{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.60) 0%, rgba(255,255,255,0) 100%);
}
.card-wrapper
{
    padding: 16px;
    width: 25%;
}
.card-content
{
    width: 100%;
    height: 100%;
    padding: 16px;
}
.circle
{
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
    background: #fff;
    border: 1px solid #38524f;
    border-radius: 100%;
    font-size: 1.75rem;
    line-height: 3.5rem;
    font-weight: 700;
    text-align: center;
    font-family: Jost;
    color: #38524f;
    pointer-events: none;
}
.card-ctn
{
    margin-top: 5rem;
}
.card-ctn>h3
{
    text-align: center;
    font-family: Cardo;
}
.card-ctn-title
{
    margin-bottom: 16px;
}
.card-ctn-title>a
{
    font-family: Jost;
    text-transform: uppercase;
}
.card-ctn-footer
{
    text-align: center;
    border-top: 1px solid gray;
    margin: 5px 15px 0 15px;
    padding: 10px 0;
    font-family: Jost;
    font-weight: 300;
}