.about-us
{
    width: auto;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.abt-cont
{
    margin: 25px;
    width: auto;
    height: 600px;
    display: flex;
    justify-content: center;
}
.abt-cont-info
{
    display: inline-flex;
    margin: 25px;
    align-items: center;
    flex-direction: column;
}
.abt-cont-info-img
{
    display: block;
    background: repeating-linear-gradient( 45deg, #444cf7, #444cf7 5px, #e5e5f7 5px, #e5e5f7 15px );
    padding: 100px;
    margin: 20px;
}
.abt-cont-info-img-txt
{
    margin: 20px;
}
.abt-cont-info-img-2
{
    display: block;
    background: repeating-linear-gradient( 45deg, #8e93fa, #8e93fa 3px, #e5e5f7 3px, #e5e5f7 10px );
    padding: 10px 35px;
    margin: 5px;
}
.abt-cont-info-details
{
    margin: 20px;
    text-align: center;
}
.abt-cont-info-btn-more
{
    padding: 8px 16px;
    text-align: center;
    display: block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
}