h5,p
{
    margin:0px;
    padding:0px;
    font-family:Tahoma;
    font-size:14px;
    font-weight:normal;
}
.main
{
    width:1200px;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-between;

}
.main-title,.main-content
{
    padding:10px 30px;
    border:1px solid gray;
}



@media only screen and (max-width: 576px)
{
    .main
    {
        width: 100%;
        display:flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 576px) and (max-width: 992px)
{
    .main
    {
        width: 100%;
        display:flex;
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 992px)
{
    .main
    {
        width: 100%;
    }
    .main-title,.main-content
    {
        width: 50%;
    }
}